
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/Layout_Admin.cshtml";
}
<link rel="stylesheet" href="~/Content/css/admin.css" />
<link rel="stylesheet" href="~/Content/bootstrap.css" />
<h2>Index</h2>